form(action=Get_restaurant_info, method=post)
	div
		label Dish Name 
		input(type=text, name=dishName)
		br
	div
		label Restaurant 
		input(type=text, name=restaurant)
	div
		input(type=submit, value=Add Dish)